<template name="admin">
  <div class="container">
    <h2>Admin</h2>
    <div class="row form-group">
      <div class="col-md-6 col-md-offset-3">
        <button id="reset" type="button" class="btn btn-danger btn-lg btn-block">Reset with sample data</button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6 col-md-offset-3">
        <button id="import_from_csv" type="button" class="btn btn-danger btn-lg btn-block">Import assets from Dropbox</button>
      </div>
    </div>
  </div>
</template>